.git
.gitignore
.venv
venv
__pycache__
*.pyc
.env
.pytest_cache
tests/
.pre-commit-config.yaml
README.md
.dvc/
.ipynb_checkpoints/
*.parquet
*.db

# Pastas de Dados e Artefatos (Não jogue para dentro da imagem durante o build!)
data/
artifacts/
models/