# MLflow Tracking
MLFLOW_TRACKING_URI=http://localhost:5000
MLFLOW_EXPERIMENT_NAME=ecommerce_recommendation

# Storage / DVC Credentials (Exemplo AWS S3)
AWS_ACCESS_KEY_ID=sua_chave_aqui
AWS_SECRET_ACCESS_KEY=seu_secret_aqui
AWS_DEFAULT_REGION=us-east-1
