# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Ambientes Virtuais
.env
.venv
env/
venv/

# Dados, Modelos e Artefatos (Rastreados pelo DVC, ignorados pelo Git)
/data/*
!/data/.keep
/models/*
!/models/.keep
/artifacts/*
!/artifacts/.keep

# Configurações de IDE
.vscode/
.idea/

